* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.icon{
    display: flex;
}
nav .menu ul div{
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 58px;
    align-items: center;
    justify-content: center;

}
nav .menu ul{
    align-items: center;
}
nav .menu ul li{
    margin: 0rem 1rem;
    text-align: center;
    font-size: 16px;
}
