* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    margin-bottom: 15px;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.05);
}
nav .icon{
    display: flex;
    align-items: center;
}
nav .icon img,
nav .logo h1{
    margin: 0rem 0.5rem;
} 
nav.icon h1{
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
nav .icon img{
    height: 40px;
    width: auto;
}
nav .menu ul div{
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 58px;
    align-items: center;
    justify-content: center;

}
nav .menu ul{
    align-items: center;
    list-style: none;
    display: flex;
}
nav .menu ul li{
    margin: 0rem 1rem;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
nav .menu ul div p,
nav .menu ul div img{
    margin: 0rem 0.5rem;
}
nav .menu ul div img{
    height: 24px;
}
.online-games {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

#o-g-i {
    text-align: center;
    font-size: 2.5rem;
}

#o-g-i-d {
    text-align: center;
    font-size: 1rem;
    width: 40%;
    margin: 20px auto;
}
.images img {
    margin: 10px 16px;
    width: 20%;
   
}
.goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0rem 12rem;
}
.title{
    margin: 0rem 12rem;

}
.images{
    display: contents;
}
.w-r-g{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-light-purple{
    color: #534C64;
    
    text-align: right;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}
.btn-primary {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
}
.btn-secondary{
    border-radius: 48px;
    background:#4EC5F7;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
}

.teams-container{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem

}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.w-r-g{
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
